.accordion_section{
    display:flex;
    flex-direction: column;
}

.accordion:hover, .active{
    background-color: #ccc;
}

.accordion{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    

}

.accordion_icon {
    margin-left: auto;
    
}

.rotate{
    transform: rotate(90deg);
}

.accordion_content{
    background-color: white;
    overflow: hidden;
    transition: max-height 0.6 ease;
    
}
.accordion_text{
  font-family: sans-serif;
  font-weight:  400;
  font-size: 14px;
  padding: 18px;
    
}

.validate{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%
}




img{
    position: relative;
    width: 1000px;
    height: 500px;
    text-align: center;
    align-items: center;
    
}

